.header, .mediasection, .footer {
  padding: 0 calc(50vw - $adaptive_width_container);

  @media screen and (max-width: 1200px) {
    padding: 0 calc(50vw - calc($adaptive_width_container - 12%));
  }

  @media screen and (max-width: 992px) {
    padding: 0 calc(50vw - calc($adaptive_width_container - 26.5%));
  }

  @media screen and (max-width: 768px) {
    padding: 0 15px;
  }
  @media screen and (max-width: 480px) {
    padding: 0;
  }
}
