$adaptive_width_container: calc(1255px/2);





$black50: rgb(231, 231, 231);
$black100: rgb(181, 181, 181);
$black200: rgb(145, 145, 145);
$black300: rgb(94, 94, 94);
$black400: rgb(63, 63, 63);
$black500: rgb(15, 15, 15);
$black600: rgb(14, 14, 14);
$black700: rgb(11, 11, 11);
$black800: rgb(8, 8, 8);
$black900: rgb(6, 6, 6);

$purple50: rgb(240, 235, 254);
$purple100: rgb(209, 193, 252);
$purple200: rgb(186, 163, 250);
$purple300: rgb(155, 121, 248);
$purple400: rgb(135, 95, 247);
$purple500: rgb(105, 55, 245);
$purple600: rgb(96, 50, 223);
$purple700: rgb(75, 39, 174);
$purple800: rgb(58, 30, 135);
$purple900: rgb(44, 23, 103);

$red50: rgb(255, 255, 254);
$red100: rgb(255, 253, 253);
$red200: rgb(255, 253, 252);
$red300: rgb(254, 252, 251);
$red400: rgb(254, 251, 250);
$red500: rgb(254, 250, 249);
$red600: rgb(231, 228, 227);
$red700: rgb(180, 178, 177);
$red800: rgb(140, 138, 137);
$red900: rgb(107, 105, 105);

$yellow50: rgb(254, 250, 232);
$yellow100: rgb(252, 240, 182);
$yellow200: rgb(250, 232, 147);
$yellow300: rgb(248, 222, 98);
$yellow400: rgb(246, 216, 67);
$yellow500: rgb(244, 206, 20);
$yellow600: rgb(222, 187, 18);
$yellow700: rgb(173, 146, 14);
$yellow800: rgb(134, 113, 11);
$yellow900: rgb(102, 87, 8);

$white50: rgb(253, 253, 253);
$white100: rgb(247, 247, 247);
$white200: rgb(244, 244, 244);
$white300: rgb(238, 238, 238);
$white400: rgb(235, 235, 235);
$white500: rgb(230, 230, 230);
$white600: rgb(209, 209, 209);
$white700: rgb(163, 163, 163);
$white800: rgb(163, 163, 163);
$white900: rgb(97, 97, 97);